<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :strain %>
    <%= f.association :user %>
    <%= f.input :score %>
    <%= f.input :comment %>
    <%= f.input :product_type %>
    <%= f.input :token %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
