<p id="notice"><%= notice %></p>

<p>
  <strong>Strain:</strong>
  <%= @rating.strain %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @rating.product_type %>
</p>

<p>
  <strong>Token:</strong>
  <%= @rating.token %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
